<div class="container wrapper wrapper2">
    <div class="row">

        <!-- Form -->
        <div class="col-md-12">
            <h3>Add Issue</h3>
            <form [formGroup]="ActualizarForm" (ngSubmit)="submitForm()" novalidate>
                <div class="form-group">
                    <label>Id</label>
                    <input type="text" formControlName="id" class="form-control" maxlength="20">
                </div>
                <div class="form-group">
                    <label>tarea</label>
                    <input type="text" formControlName="value" class="form-control" maxlength="20">
                </div>
                <div class="form-group">
                    <label>fecha</label>
                    <textarea class="form-control" formControlName="fec_vencida" rows="3" maxlength="50"></textarea>
                </div>
                <div class="form-group">
                    <label>estad</label>
                    <textarea class="form-control" formControlName="estado" rows="3" maxlength="50"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>

    </div>
</div>