<div class="container wrapper">

    <div class="row">


        <!-- Issue table -->
        <div class="col-md-12">
            <div class="inner">
                <h3>Mis Tareas</h3>
                <table class="table table-hover" id="ListadeTarea">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">actividad</th>
                            <th scope="col">Inicio</th>
                            <th scope="col">Vence</th>
                            <th scope="col">Final</th>
                            <th scope="col">User</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let mostrar of TareaList">
                            <th scope="row">{{mostrar.id}}</th>
                            <td>{{mostrar.value}}</td>
                            <td>{{mostrar.fec_inicio}}</td>
                            <td>{{mostrar.fec_vencida}}</td>
                            <td>{{mostrar.fec_final}}</td>
                            <td>{{mostrar.id_user_tar}}</td>
                            <td>{{mostrar.estado}}</td>

                            <td>
                                <button type="button" class="btn btn-success btn-sm move-right"  [routerLink]="['/EditarTarea/', mostrar.id]">Edit</button>
                                <button type="button" class="btn btn-danger btn-sm" (click)="BorrarTarea(mostrar)">Remove</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
<script>
$(function(){
    $('#ListadeTarea').tablesorter(); 
  });
</script>

