<!--The content below is only a placeholder and can be replaced.-->
<body>
    <ul class="topnav">
      <li><a routerLink="/acceso">Inicio</a></li>
      <li><a routerLink="/registrar">Registrar</a></li>
      <li><a routerLink="/obtenerTarea">Consultar</a></li>
      <li><a routerLink="/tabla">Tabla</a></li>
      <li class="right"><a href="#about">About</a></li>
     
    </ul>
         
  </body>
  <router-outlet></router-outlet>