html{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
   
   }
   body{
    background-color: #DBE8EE;
   }
   .cont1{
    max-width: 500px;
    height: auto;
    background-color: #efefef;
    margin: 5% auto;
    padding-bottom: 1rem;
   }
   .form-top{
    width: 100%;
    text-align: center;
    padding: 1rem 0 1rem;
    border-top: solid .4rem #f39b53;
    margin-bottom: 1rem;
   }
   .form-top h2{
   font-weight: bolder;
   color: #adc4bc;
   font-size: 23px;
   
   }
   h2 span{
    color: #2b6fc9;
   }
   .form-reg{
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
   }
   .btn-form{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
   }
   .input, .btn-submit, .btn-reset{
    background-color: #efefef;
    padding: .3rem;
    margin: .3rem 0;
    border:none;
   
    transition: all .3s;
   }
   .input:focus{
    border-bottom: solid #f39b53 .2rem;
   }
   .btn-submit, .btn-reset{
    width: 40%;
    border-bottom: none;
    background-color: #31b1e5;
    color: white;
   }
   .btn-reset{
    background-color: #eda135;
   }
   .btn-submit:hover{
    background-color: #4c9ed9;
   
   }
   .btn-reset:hover{
    background-color: #fa9535;
   }