
<div class="cont1">
  <div class="form-top">
    <h2>{{ title }}</h2>
  </div>
  <form class="form-reg" [formGroup]="tareaForm" (ngSubmit)="submitForm()"  novalidate>
    
    <mat-form-field class="input"> 
      <input matInput formControlName="value" placeholder="Descripción de la tarea" > 
    </mat-form-field>

    <mat-form-field class="input"> 
      <input matInput [matDatepicker]="picker1" formControlName="fec_inicio" placeholder="Fecha de Inicio" >
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
     </mat-form-field>

     <mat-form-field class="input"> 
      <input matInput [matDatepicker]="picker2" formControlName="fec_vencida" placeholder="Fecha de vencimiento" >
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
     </mat-form-field>

    <mat-form-field class="input">
      <textarea matInput placeholder="Identificacion" formControlName="id_user_tar"></textarea>
    </mat-form-field>

    <mat-form-field class="input">
      <mat-select placeholder="Select" formControlName="estado" >
        <mat-option value="En Progreso">En Proceso</mat-option>
        <mat-option value="Vencida">Finalizada</mat-option>
        <mat-option value="Finalizada">Vencida</mat-option>
      </mat-select>
    </mat-form-field>
    
    <div class="btn-form">
      <input class="btn-submit" type="submit" value="REGISTRAR">
      <input class="btn-reset" type="reset" value="LIMPIAR">
     </div>
  </form>
</div>
