<div class="container wrapper">

    <div class="row">


        <!-- Issue table -->
        <div class="col-md-12">
            <div class="inner">
  
              <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
              </mat-form-field>
              
              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>
              
                  <!-- ID Column -->
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                  </ng-container>
              
                  
                  <!-- Name Column -->
                  <ng-container matColumnDef="value">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Actividad </th>
                    <td mat-cell *matCellDef="let row"> {{row.value}} </td>
                  </ng-container>
              
                  <!-- Progress Column -->
                  <ng-container matColumnDef="fec_inicio">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Inicio </th>
                    <td mat-cell *matCellDef="let row"> {{row.fec_inicio}} </td>
                  </ng-container>

                  <!-- Progress Column -->
                  <ng-container matColumnDef="fec_vencida">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Vence </th>
                    <td mat-cell *matCellDef="let row"> {{row.fec_vencida}} </td>
                  </ng-container>


                  <!-- Color Column -->
                  <ng-container matColumnDef="Usuario">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Id Usuario </th>
                    <td mat-cell *matCellDef="let row"> {{row.id_user_tar}} </td>
                  </ng-container>

                  <!-- Color Column -->
                  <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                    <td mat-cell *matCellDef="let row"> {{row.estado}} </td>
                  </ng-container>
              
                  <ng-container matColumnDef="accion">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Acción </th>
                    <td mat-cell *matCellDef="let row"> 
                            <a  class="btn btn-success btn-sm move-right"  [routerLink]="['/EditarTarea/', row.id]">Edit</a>
                            <a  class="btn btn-danger btn-sm" (click)="BorrarTarea(row)">Remove</a>
                      
                    </td>
                  </ng-container>
            
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                  </tr>
                </table>
              
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
              </div>
              
            </div>
          </div>
  
      </div>
  </div>